body{
    background-color: rgb(255, 255, 255);
    background-size: cover;
}
#cabecera{
    padding: 20px;
    height: 100px;
    background-color: rgb(136, 248, 114);
    color: rgb(6, 6, 255);
}
.frame{
    width: 80%;
    height: 300px;

}
#body{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 600px;
}

.action-button{
padding: 15px;
background-color: blue;
border-radius: 10px;
color: cornsilk;
}

.action-button:hover{
    padding: 15px;
    background-color: rgb(43, 255, 0);
    border-radius: 10px;
    color: cornsilk;
    }

#footer{
    display: flex;
    background-color: rgb(212, 206, 110);
    color: rgb(255, 0, 0);
    padding: 20px;
    bottom: 0px;

}
h1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    font-size: 50px;
    color: rgb(6, 6, 255);
}

p{
    color: purple;
}